<style>
    ::selection {
        background-color: rgba(233, 222, 96, 0.4);
    }

    :root[data-scheme=light] {
        --body-background: rgb(241, 242, 243);
    }

    :root {
        --zh-font-family: 'Noto Serif SC', serif;
        --sys-font-family: 'Noto Serif CJK';
    }

    .article-content,
    .article-subtitle {
        text-align: justify;
    }

    .article-subtitle {
        font-size: unset;
    }

    .article-list--compact .article-image img {
        border-radius: var(--card-border-radius);
    }

    .article-list article .article-image img {
        height: unset;
    }

    .right-sidebar.sticky {
        overflow-y: scroll;
        max-height: 100vh;
        padding-bottom: calc(var(--widget-separation) / 2);
    }

    .right-sidebar.sticky::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
    }
</style>