<style>
    ::selection {
        background-color: rgba(233, 222, 96, 0.4);
    }

    :root[data-scheme='light'] {
        --body-background: rgb(241, 242, 243);
    }

    :root {
        --zh-font-family: 'Noto Serif SC', serif;
        --sys-font-family: 'Noto Serif CJK';
        --section-separation: 30px;
        --accent-color: #49625e;
        --accent-color-darker: #2b4440;
    }

    .article-content,
    .article-subtitle {
        text-align: justify;
    }

    .article-subtitle {
        font-size: unset;
    }

    .article-list--compact .article-image img {
        border-radius: var(--card-border-radius);
    }

    .article-list article .article-image img {
        height: unset;
    }

    .right-sidebar.sticky {
        overflow-y: scroll;
        max-height: 100vh;
        padding-bottom: 20px;
    }

    .right-sidebar.sticky::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
    }

    .sidebar {
        padding-inline: 10px;
    }

    @media (min-width: 1024px) {
        .container.extended {
            --right-sidebar-max-width: 25%;
        }
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/pjax-api@v3.38.1"></script>
<script>
    const { Pjax } = window['pjax-api'];

    const pjax = new Pjax({
        areas: ['body'],
    });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.css" />
<style>
    #nprogress .bar {
        background: #6eb49b;
    }
    #nprogress .peg {
        box-shadow: 0 0 10px #6eb49b, 0 0 5px #6eb49b;
    }
    #nprogress .spinner-icon {
        border-top-color: #6eb49b;
        border-left-color: #6eb49b;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js"></script>
<script>
    NProgress.configure({ showSpinner: false });

    window.addEventListener('load', () => {
        NProgress.done();

        window.addEventListener('pjax:fetch', NProgress.start);
        document.addEventListener('pjax:ready', NProgress.done);
    });

    document.addEventListener('DOMContentLoaded', NProgress.start);
</script>
