<script src="https://unpkg.com/swup@4"></script>
<script src="https://unpkg.com/@swup/body-class-plugin@3"></script>
<script src="https://unpkg.com/@swup/forms-plugin@3"></script>
<script src="https://unpkg.com/@swup/head-plugin@2"></script>
<script src="https://unpkg.com/@swup/preload-plugin@3"></script>
<script src="https://unpkg.com/@swup/progress-plugin@3"></script>
<script src="https://unpkg.com/@swup/scroll-plugin@3"></script>
<script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
<script src="https://unpkg.com/@swup/gtm-plugin@2"></script>
<script>
    const plugins = [
        new SwupBodyClassPlugin(),
        new SwupFormsPlugin({
            formSelector: 'form.search-form.widget',
        }),
        new SwupHeadPlugin({ persistTags: 'link[data-keep]' }),
        new SwupPreloadPlugin(),
        new SwupProgressPlugin({ delay: 200, hideImmediately: false }),
        new SwupScrollPlugin({
            animateScroll: !window.matchMedia('(prefers-reduced-motion: reduce)').matches,
        }),
        new SwupScriptsPlugin({ optin: true }),
    ];

    if (window.gtag) {
        plugins.push(new SwupGtmPlugin());
    }

    const swup = new Swup({
        containers: ['.container.main-container'],
        plugins,
    });
</script>
